$text_color_inactive: #636363;
$text_color_active: #ebebeb;
$text_color_hover: $text_color_active;

.part_list {
  color: $text_color_inactive;
  pointer-events: auto;
  background-color: #413f3d;
  /* overflow-y: auto; */
  height: 93%;
  z-index: -10;
  padding: 0.5em;
}

.part_entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  text-align: center;
  transition: all 0.2s;
  font-weight: bold;
  font-size: 0.75rem;
  color: $text_color_inactive;
  cursor: pointer;
}

.part_entry:hover {
  transform: scale(1.1);
  opacity: 1;
  color: $text_color_active;
}

.active {
  transform: scale(1.1);
  opacity: 1;
  color: $text_color_active;
}

.part_list div .part_thumbnail {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  opacity: 0.5;
}

.part_list .active .part_thumbnail {
  opacity: 1;
  filter: contrast(200%);
}
